<%= @appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %><br>
<p>Patient: <%= link_to @appointment.patient.name, patient_path %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, doctor_path %></p>